#cards_f {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(231, 190, 54, 0.4);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
}

#cards_f:hover {
    transform: scale(1.05);
    transition: 0.9S;
}

#date,
#d_f {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
}

#h_f {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#but_f {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: medium;
    background-color: rgb(26, 26, 27);
    color: white;
    margin-top: 50px;
   
}

#back_f{
    background: url('../assets/back_3.jpg')  fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
